/* Light Colors */
:root {
  --background: hsl(358, 66%, 76%); /* Catppuccin Frappe Maroon */
  --text-color: hsl(347, 87%, 34%); /* Catppuccin Latte Red (-10% Luminance) */
  --heading-color: hsl(347, 87%, 44%); /* Catppuccin Latte Red */
}

/* Dark Colors */
@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(240, 21%, 15%); /* Catppuccin Mocha Base */
    --text-color: hsl(358, 66%, 76%); /* Catppuccin Frappe Maroon */
    --heading-color: hsl(347, 87%, 54%); /* Catppuccin Latte Red (+10% Luminance)*/
  }
}
